## **Chapter 2**

In [44]:
a = [1, 2, 3]
b = a

# print(id(a), id(b))

if id(a) == id(b):
    print(True)

True

In [45]:
name = 'Mhairi'
MhairiBrudenell44 = name

if id(name) == id(MhairiBrudenell44):
    print(True)

True

In [46]:
isinstance(b, int)

b = 4

isinstance(b, int)

name = 'Mhairi'
nickname = name

isinstance(nickname, str)

True

In [47]:
c = """
This is a long string
that spans multiple lines
""" 

c.count("\n")

3

In [48]:
template = "{0:.2f} {1:s}"

#{0:.2f} format third argument as an exact integer 
#{1:s} = format second argument as a string

In [49]:
#f-string

amount = 10
rate = 88.46
currency = "Pesos" 

#This gives you the amoutn divided by rate with lots of decimal places 
result = f"{amount} {currency} is worth US${amount / rate}"

result

#This gives you it to two decimal places (:.2f)
f"{amount} {currency} is worth US${amount / rate:.2f}"

#f = for floats 
#d = for ints 
#s = string

'10 Pesos is worth US$0.11'

In [50]:
s = "3.14159"

fval = float(s)

type(fval)

int(fval)

bool(fval)

bool(1)

True

In [51]:
from datetime import datetime, date, time

dt = datetime(2011, 10, 29, 20, 30, 21)

dt.year

dt.minute

dt.date()

dt.time()

#formatting a datatime as a string 

dt.strftime("%Y-%m-%d %H:%M:%S")

#parsing data into a string 

datetime.strptime("20010211", "%Y%m%d")

#replacing fields with 0

dt_hour = dt.replace(minute=0, second=0)
dt_hour 

#datetime.datetime is immutable, so the before example produces new objects, so dt.replace doesnt modify it. 

dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [52]:
#you can add and take away datetimes - this is called a datetime.timedeltatype

dt2 = datetime(2011, 11, 15, 22, 30)

delta = dt2 - dt

delta 

type(delta)
type(dt2)
type(dt)

#these are all datetime 

dt

dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

# **Chapter 3**

In [53]:
#tuples are immutable and are seperated by '' and , 
tup = (1, 2, 3, 4)
tup

#you can make a tuple by using tuple and [] 

tuple([1, 2, 3, 4])

tup = tuple('string')
tup

#finding and printing elements by index 

tup[2] 

#making a nested tuple - use () 

nested_tup = (1, 2, 3, 4), (9, 8, 7, 6)
nested_tup 

nested_tup[1]

#objects in tuples are mutable, but once tuple is created its not possible to change which object is stored in what slot.

#tup = tuple(['foo', [1, 2], True])

#tup[2] = False 

#above we get an error

#adding tuples

(4, None, 'foo') + (6, 0) + ('bar',)

#using multuply to make 4 copies 

('foo', 'bar') * 4 

#assigning tuples to values 

tup = (4, 5, 6)

a, b, c = tup 

a

#even nestled ones can be used 

tup = (4, 6), 1, 2

(a, b), c, d = tup 

d 

#swapping variable names

2

In [54]:
#lists are mutable 

my_list = [1, 2, 3, 4]
my_list

tup = ('foo', 'bar', 'baz')
tup

b_list = list(tup)
b_list 

#adding an element to a list and giving an index of where to add it 

b_list[1] = 'peekaboo' 

b_list 

#lists are mainly used to materialize an iterator or generator expression - For example 

gen = range(10)

gen 

list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
#turning columns values in a data frame to list values. 

#values = df [colum_name].tolist() 

#slicing 

seq = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
seq[1:5]

#insering/swapping numbers 

seq[2:6] = [2, 4]
seq

[1, 2, 2, 4, 7, 8, 9, 10]

In [56]:
#dictionaries 

empty_dict = {}

d1 = {"a": 'some values', "b": [1, 2, 3, 4]}

d1

d1[7] = 'numbers'

d1

d1["b"]

"m" in d1

#deleting values

d1[5] = "some values"

d1

d1["dummy"] = "another value"

d1

del d1[5]

d1

#returning a value - returning a value deletes the key 

ret = d1.pop("dummy")

ret

list(d1.keys())

list(d1.values())

list(d1.items())

#merging dictionaries 

d1.update({"b": "foo", "c": 12})

d1

{'a': 'some values', 'b': 'foo', 7: 'numbers', 'c': 12}

In [57]:
#finidng quartiles of a column 

df.columnname.quantile([0.25,0.5,0.75])

#0.25 finds the first one, 0.5 the second one, and 0.75 the third one 

#boxplot using seaborn 

ns.boxplot(data=data,y='columnname',)

NameError: name 'df' is not defined

In [ ]:
#making a dictionary from two lists

names = ['mhairi', 'james', 'aggie', 'wilbur']
ages = [22, 24, 80, 10]

mapping = {}
for key, value in zip(names,ages):
    mapping[key] = value

figures=dict(mapping)

figures

{'mhairi': 22, 'james': 24, 'aggie': 80, 'wilbur': 10}

In [ ]:
names= 'mhairi','james','aggie','athini'
ages= 22, 24, 80, 54
mapping = {}
for key, value in zip (names,ages):
    mapping[key]=value
fig=dict(mapping)
fig

{'mhairi': 22, 'james': 24, 'aggie': 80, 'athini': 54}

In [ ]:
names = 'mhairi', 'james', 'rhiona', 'murdo'
ages = 22, 24, 26, 24

phonebook_names = {}
for key, value in zip (names,ages):
    phonebook_names[key] = value

things = dict(phonebook_names)
things

{'mhairi': 22, 'james': 24, 'rhiona': 26, 'murdo': 24}

In [ ]:
#ordering lists 

words = ["apple", "pear", "pinnaple", "peach", "bannana", "blueberry"]

by_letter = {}

for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

by_letter

#easier way of doing this using collections module
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [ ]:
#hashability testing - seeing if an object is mutable and can be used as a key in a dict.
hash("string")
hash((1,2,(2,3)))
#this fails as lists are mutable 
hash((1,2,[2,3]))

#to use a list as a key you can change it into a tuple as these are immutable. 
d = {}
d[tuple([1,2,3,4])] = 5
d

{(1, 2, 3, 4): 5}

In [ ]:
#sets (an unordered collection of unique elements)

set([2,2,2,1,3,3])

{1, 2, 3}

In [ ]:
#Filtering out strings larger than 2 characters and changing them to upper case

strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['DOVE', 'PYTHON']

In [61]:
#nested list comprehensions
all_data = [["John", "Emily", "Micheal", "Mary", "Steven"],
           ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

#merging lists, leaving out names with less than 2 'a's, using a for loop.
names_of_interest = []

for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    #adding this to the empty list 
    names_of_interest.extend(enough_as)

names_of_interest

[print(name) for name in names]

['Maria', 'Natalia']